.deps
.libs
Makefile
Makefile.in
*.la
*.lo
*.o
libtool
ltmain.sh
missing
stamp-h1
m4/
autom4te.cache
INSTALL
install-sh
depcomp
configure
aclocal.m4
compile
config.guess
config.h*
config.log
config.status
config.sub
ar-lib
*.exe
*.pc
doc/html
*.plg
*.ncb
*.opt
Debug
Release
*.user
*.suo
*.sdf
*.opensdf
*.patch
*~
*.bz2
.dirstamp
src/*.sh
examples/*
!examples/*.c
!examples/*.h
!examples/*.am

